/* CSS for Portfolio */



body {
  font-family: 'Libre Baskerville', serif;
  scroll-behavior: smooth;
}

.subtitle {
  font-family: 'Arial', sans-serif;
}

#navigation-menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
